.logo{
    width: 250px;
    height: auto;
  }

  .toggleHeaderNav{
      color: black;
  }

  .logoTog{
      width: 30px;
      cursor: pointer;
  }
.navBarItem{
    margin:auto;
    margin-left: 20px;
    font-weight: bold;
    color: rgb(88, 88, 88);
    cursor: pointer;
}
.navBarItem:hover{
    color: rgb(255, 188, 64);
}

.navBarItemChosen{
    color: orange;
}

.shadow{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}